.welcome {
  font-size: 30px;
  text-align: center;
  padding: 50px;
}

.Results .definitions-container {
  border: 2px solid #93948e39;
  padding: 10px;
}

.Results h1 {
  padding: 150px 10px;
  font-size: 55px;
}

.Results hr {
  margin-top: 80px;
}
